@media (max-width: 575px) {

    /* Menu Part Start */
    .main_menu .navbar-brand {
        width: 169px;
        height: 52px;
        line-height: 0;
    }

    .main_menu {
        top: 0px;
        background: #e23e38;

    }

    .main_menu .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .main_menu button i {
        color: white;
    }

    .main_menu #navbarSupportedContent {
        background: #e23e38;
        text-align: center;
    }

    .main_menu ul li a::after {
        display: none;
    }

    .main_menu ul li a {
        line-height: 35px;
    }
    .main_menu.menu_fix {
        top: 0px;
    }

    /* Menu Part End */

    /* Banner part start */
    #banner .slider .banner_item {
        padding: 120px 0 70px;
    }

    #banner .slider .banner_item .banner_text h2::before,
    #banner .slider .banner_item .banner_text h1::before,
    #banner .slider .banner_item .banner_text h1::after,
    #banner .slider .banner_item .banner_text p::before,
    #banner .slider .banner_item .banner_text p::after,
    #banner .slider .banner_item .banner_text h2::after {
        display: none;
    }

    #banner .slider .banner_item .banner_text h2 {
        font-size: 22px;
        margin-bottom: 0px;
    }

    #banner .slider .banner_item .banner_text h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    #banner .slider .banner_item .banner_text a {
        padding: 5px 10px;
        font-size: 13px;
        margin: 25px 5px 0;
    }

    #banner .slider .slick-dots li button {
        width: 15px;
        height: 15px;
        margin: 0 4px;
    }

    /* Banner part end */

    /* About part start */
    #about {
        padding: 44px 0;
    }

    #about .about_text p {
        text-align: justify;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    #about .about_text p span {
        padding-top: 15px;
    }

    

    
    /* About part end */

    /* Gallery part start */
    #gallery .gallery_banner .gallery_img:last-child {
        margin-bottom: 30px;
    }

    #gallery .gallery_banner {
        padding: 30px 0 0;
    }

    #gallery {
        margin-bottom: 44px;
    }
    /* Gallery part end */

    /* Team part start */
    #team:hover .box {
        transform: translateY(0);
    }

    #team .box .overly {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    #team .box .team_text p {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    #team .box{
        margin-bottom: 30px;
    }

    #team {
        padding-bottom: 44px;
    }

    #team .box:last-child{
        margin-bottom: 0;
    }
    /* Team part end */

    /* Banner part start */
    /* Banner part end */
}

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) and (max-width: 1399px) {}

@media (min-width: 1400px) {}