@import '../mixins/mixins';
@import '../variables/variable';

/*========================================================
                    Testimonial Part Start
==========================================================*/
#test {
    padding-bottom: 80px;

    .test_head {
        padding-bottom: 25px;

        h2 {
            @include fs($head, 22px, 400, $ows);
            text-transform: uppercase;
        }
    }

    .testmonial_slider {
        position: relative;

        .test_slider {
            padding: 30px 0 80px;
            position: relative;
            z-index: 1;

            &::after {
                @include after_tl(0, 0, 100%, 100%, rgba(0, 0, 0, 0.8));
                z-index: -1;
            }
        }

        .test_text{
            .overly{
                position: absolute;
                top: 28px;
                h2{
                    @include fs(#fff, 14px, 400, $ows);
                    text-transform: uppercase;
                    padding-bottom: 5px
                }
                h3{
                    @include fs(#fff, 14px, 400, $ows);
                    padding-bottom: 5px;
                }
                .star{
                    color: $hover;
                }

            }
            p{
                  @include fs(#dddddd, 13px, 400, $opn);
                  line-height: 18px;
                  padding-top: 5px;
            }
        }


        .slick-dots li button {
            font-size: 0;
            width: 20px;
            height: 20px;
            background: transparent;
            border: 1px solid white;
            border-radius: 50%;
            margin: 0 5px;
        }

        .slick-dots {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            left: 50%;
            bottom: 30px;
            transform: translateX(-50%);
        }

        .slick-dots .slick-active button {
            background: #ff0000;
            border: 1px solid red;
        }
    }

}


/*========================================================
                    Testimonial Part End
==========================================================*/